.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}