.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(var(--icon-color-rgb, 255, 255, 255), 0.1);
    box-shadow: inset 0 0 0 1px var(--icon-color);
    flex-shrink: 0;
}

.small {
    width: 24px;
    height: 24px;
    font-size: 0.8rem;
}

.medium {
    width: 32px;
    height: 32px;
    font-size: 1.1rem;
}

.large {
    width: 48px;
    height: 48px;
    font-size: 1.6rem;
}

.icon {
    line-height: 1;
}

.pulse {
    animation: iconPulse 2s infinite;
}

@keyframes iconPulse {
    0% {
        box-shadow: inset 0 0 0 1px var(--icon-color), 0 0 0 0 var(--icon-color);
    }

    70% {
        box-shadow: inset 0 0 0 1px var(--icon-color), 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: inset 0 0 0 1px var(--icon-color), 0 0 0 0 rgba(0, 0, 0, 0);
    }
}